.ddsmoothmenu{
font: normal 11px 'din', Arial, Helvetica, sans-serif;
color:#423C3C;
float:left;
}

.ddsmoothmenu ul{
z-index:1200;
margin: 0;
padding: 0;

list-style-type: none;
background:#fff;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
color: #423C3C;
padding: 5px 35px 12px 0px;
text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: #423C3C;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/ 
color: #ff0000;
}

.ddsmoothmenu ul li a:hover{
 /*background of menu items during onmouseover (hover state)*/
color: #000;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0px;
top:0px;
margin-top:2px;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
z-index:1200;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: left;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font: normal 11px 'din', Arial, Helvetica, sans-serif;
color:#8C6900;
width: 140px; /*width of sub menus*/
/*float:left;*/
padding: 8px 10px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid #c9c9c9;
line-height:16px;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 8px;
right: 10px;
}

.rightarrowclass{
position: absolute;
top: 12px;
right: 8px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}