/*JAFF RUBBER*/
html {background-color:#f4f4f4;}
body{
	background-color:#f4f4f4;
	padding-top:0px;
	margin-top:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}

h1, h2, h3, h4, h5, h6, input, textarea, ul, li, p, span, table, th, tr, td, tbody, body {
	padding:0;
	margin:0;
}

ul, li {
	list-style:none;
}

a img, a{
	border:0px;
	outline:none !important;
	text-decoration:none;
}

a img:hover, a:hover{
	border:0px;
	outline:none !important;
}

.floatLeft {float:left;}

@font-face {
    font-family: 'din';
    src: url('../fonts/din-medium-webfont.eot');
}
@font-face {
    font-family: 'din';
	src: url('../fonts/din-medium-webfont.ttf');
}

@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helveticaneue-roman-webfont.eot');
}
@font-face {
    font-family: 'helveticaneue';
	src: url('../fonts/helveticaneue-roman-webfont.ttf');
}
.mainWrapper {
	width:1000px;
	margin:0px auto;
}
.mainHeader {
	width:100%;
	height:107px;
	float:left;
}
.mainLogo {
	width:184px;
	height:62px;
	padding:25px 30px 0px 0px;
	float:left;
}
.headerRight {
	width:786px;
	height:107px;
	float:left;
}
.headerRightTop {
	width:100%;
	float:left;
	padding:24px 0px 0px 0px;
}
.headerRightTop ul li {
	float:right;
	padding:0px 0px 10px 0px;
	
}
.headerRightTop ul li a {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#979771;
	border-right:1px solid #d6d3d3;
	padding:0px 10px;
}
.headerRightBot {
	width:786px;
	height:49px;
	float:left;
}
.MainNavDiv {
	width:543px;
	float:left;
	border-bottom:1px solid #ad3640;
}
.MainNavDiv a {
	font: normal 11px 'din', Arial, Helvetica, sans-serif;
	color:#423C3C;
	float:left;
	padding:20px 35px 0px 0px;	
}

.mainNavSelect {color: #ad3640 !important;}

.searchDiv {
	width:213px;
	height:26px;
	float:right;
	background:url(../images/search_bg_right.gif) top right no-repeat;
	padding-right:10px;
	margin-top:6px;
}
.searchBtn {
	width:26px;
	height:26px;
	float:left;
	background:url(../images/search_btn.gif) top left no-repeat;
	border:none;
	cursor:pointer;
}
.searchArea {
	width:181px;
	height:26px;
	float:left;
	background:url(../images/search_bg.gif) top left repeat-x;
	padding:0px 3px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#333;
	border:none;
}

/*CONTENT AREA*/

.contAreaMainWrapper {
	width:1000px;
	float:left;
	padding-bottom:15px;
}
.homeImageAreaMain {
	width:1000px;
	height:500px;
	float:left;
	position:relative;
}
.mainImageContiSlider {
	width:1000px;
	height:500px;
	position:absolute;
	top:0px;
	left:0px;
}
.slideUpSet1 {
	width:250px;
	height:218px;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:1000;
}
.slideUpSet2 {
	width:250px;
	height:218px;
	position:absolute;
	bottom:0px;
	left:250px;
	z-index:1000;
}
.slideUpSet3 {
	width:250px;
	height:218px;
	position:absolute;
	bottom:0px;
	left:500px;
	z-index:1000;
}
.slideUpSet4 {
	width:250px;
	height:218px;
	position:absolute;
	bottom:0px;
	left:750px;
	z-index:1000;
}

.homeOurProductsMain {
	width:100%;
	float:left;
}
.homeOurProductsMain h2 {
	width:100%;
	float:left;
	height:41px;
	background:url(../images/horizon_center_border.gif) center left repeat-x;
}
.homeOurProductsTopic {
	width:102px;
	float:left;
	font:normal 12px 'din', Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	color:#989393;
	background:#f4f4f4;
	padding:16px 20px;
	text-align:center;
	margin-left:430px;
	display:inline;
}

.homeProductsSet {
	width:184px;
	height:223px;
	margin-right:20px;
	display:inline;
	float:left;
	background:#c1c8d0;
	border-bottom:1px solid #99a4b0;
}
.homeProductsSet h2{
	padding:12px 15px 8px 15px;
	width:154px;
	float:left;
	background:none;
	height:auto;
}
.homeProductsSet h2 a {
	font:normal 16px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#31373E;
}
.homeProductsSet h2 a:hover {color:#000;}

.homeProductsSet p {
	font:normal 12px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:14px;
	text-shadow:1px 1px 1px #999;
	padding:0px 15px 8px 15px;
	float:left;
}

.homeBottomAbout {
	width:327px;
	float:left;
}
.homeBottomAbout h2 {
	width:100%;
	float:left;
	height:40px;
	background:url(../images/horizon_center_border.gif) center left repeat-x;
}
.homeBottomAboutTopic {
	width:66px;
	float:left;
	font:normal 12px 'din', Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	color:#989393;
	background:#f4f4f4;
	padding:15px 20px;
	text-align:center;
	margin-left:110px;
	display:inline;
}
.homeBottomAboutText {
	width:306px;
	padding-right:20px;
	float:left;
	font:normal 13px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#5A6A79;
	line-height:16px;
	border-right:1px dotted #b8b6b6;
}
.homeBottomAboutText a {
	font-size:12px;
	padding-top:18px;
	color:#e50000;
	float:right;
}
.homeBottomAboutText a:hover {color:#000;}

.homeBottomQuality {
	width:347px;
	float:left;
}
.homeBottomQuality h2 {
	width:100%;
	float:left;
	height:40px;
	background:url(../images/horizon_center_border.gif) center left repeat-x;
}
.homeBottomQualityTopic {
	width:56px;
	float:left;
	font:normal 12px 'din', Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	color:#989393;
	background:#f4f4f4;
	padding:15px 20px;
	text-align:center;
	margin-left:130px;
	display:inline;
}
.homeBottomQualityText {
	width:326px;
	padding-right:20px;
	float:left;
	font:normal 13px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#5A6A79;
	line-height:16px;
	border-right:1px dotted #b8b6b6;
}
.homeBottomQualityText img {
	padding:0px 15px 0px 20px;
	float:left;
}
.homeBottomQualityText a {
	font-size:12px;
	padding-top:18px;
	color:#e50000;
	float:right;
}
.homeBottomQualityText a:hover {color:#000;}



.homeBottomNews {
	width:326px;
	float:left;
}
.homeBottomNews h2 {
	width:100%;
	float:left;
	height:40px;
	background:url(../images/horizon_center_border.gif) center left repeat-x;
}
.homeBottomNewsTopic {
	width:46px;
	float:left;
	font:normal 12px 'din', Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	color:#989393;
	background:#f4f4f4;
	padding:15px 20px;
	text-align:center;
	margin-left:100px;
	display:inline;
}
.homeBottomNewsText {
	width:306px;
	padding-left:20px;
	float:left;
	font:normal 13px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#5A6A79;
	line-height:16px;
}
.homeBottomNewsText ul li a {
	width:100%;
	float:left;
	color:#C9AC3A;
	border-bottom:1px dotted #b8b6b6;
	padding:0px 0px 10px 0px;
	margin-bottom:10px;
}

.homeBottomNewsText a {
	font-size:12px;
	padding-top:18px;
	color:#e50000;
	float:right;
}
.homeBottomNewsText a:hover {color:#000;}

/*CONTENT AREA END*/

/*FOOTER AREA STARTS*/

.footerMain {
	width:1000px;
	height:102px;
	float:left;
	position:relative;
	background:#e2e0e0;
	font:normal 13px 'helveticaneue', Arial, Helvetica, sans-serif;
}
.footerLogo {
	width:56px;
	height:73px;
	position:absolute;
	top:14px;
	left:14px;
	background:url(../images/footer_logo.gif);
}
.copyrights {
	color:#939393;
	width:170px;
	position:absolute;
	top:42px;
	left:80px;
}
.saber {
	width:164px;
	height:18px;
	position:absolute;
	top:42px;
	right:15px;
}
.saber a {
	width:164px;
	height:18px;
	float:left;
	background:url(../images/saber.gif);
}
.saber a:hover {background:url(../images/saber_hover.gif);}

/*FOOTER AREA ENDS*/


/* --- - -- - - --- -- - --INNER PAGES STARTS - - -- - - -- - -- - - - -- - */

.innerPagesMainDiv {
	width:100%;
	float:left;
	border-top:5px solid #e2e0e0;
}
.breadcrumbDiv {
	width:100%;
	height:24px;
	padding:12px 0px 0px 0px;
	float:left;
	font:normal 11px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#acacac;
}
.breadcrumbDiv span {
	color:#808080;
	padding-right:10px;
	background:url(../images/bc_arrow.gif) center right no-repeat;
}
.productsPageMaindiv {
	width:100%;
	float:left;
	background:#fefefe;
}
.productsLeftNavMain {
	width:180px;
	float:left;
	padding:15px;
}
.productsRightMain {
	width:770px;
	float:left;
	padding-left:20px;
	background:#f4f4f4;
}
.productDescTopMain {
	width:100%;
	float:left;
}
.productDescMainImage {
	width:442px;
	float:left;
}
.productDescTopRight {
	width:308px;
	float:left;
	padding-left:20px;
}
.productsRightMain p {
	font:normal 14px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#596A79;
	line-height:18px;
	padding-bottom:15px;
}
.productDescTopRight h2 {
	font:bold 18px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#212529;
	width:100%;
	float:left;
	padding-bottom:10px;
}
.productDescTopRight p {
	font:normal 14px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#596A79;
	line-height:18px;
	padding-bottom:15px;
}
.productDescTopRight h3 {
	width:100%;
	height:40px;
	background:url(../images/horizon_center_border.gif) center left repeat-x;
	float:left;
}
.keyAdvantagesTopic {
    background: none repeat scroll 0 0 #F4F4F4;
    color: #989393;
    float: left;
    font: 12px 'din',Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 15px 20px 15px 0px;
    width: 112px;
}
.keyAdvantages {
	float:left;
	padding-bottom:20px;
}
.keyAdvantages li {
	float:left;
	background:url(../images/key_ad_bullets.png) left top no-repeat;
	padding:7px 0px 5px 20px;
	font:normal 13px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#596A79;
	width:288px;
}
.keyAdvantages li ul li {
	background:url(../images/key_ad_bull_2.gif) center left no-repeat;
	padding:7px 0px 7px 15px;
}

.keyAdvantages li a {
	color:#596A79;
}

.keyAdvantages li a:hover {
	color:#333;
}

.keyAdvantages_two {padding-bottom:15px;}
.keyAdvantages_two li {width:94%;}

.download_broc {
	width:165px;
	height:12px;
	padding:14px 0px 13px 15px;
	background:#a8ab6e;
	border-bottom:1px solid #787a47;
	float:left;
	font:normal 11px 'din',Arial,Helvetica,sans-serif;
	color:#fff;
}
.download_broc:hover {
	background:#929558;
	border-bottom:1px solid #787a47;
}

.download_broc_w {
	width:100px;
	height:12px;
	padding:14px 0px 13px 15px;
	background:#95a5a6;
	border-bottom:1px solid #404849;
	float:left;
	margin-left:12px;
	font:normal 11px 'din',Arial,Helvetica,sans-serif;
	color:#fff;
}
.download_broc_w:hover {
	background:#778485;
	border-bottom:1px solid #404849;
}

.download_broc_common {
	height:12px;
	padding:14px 15px 13px 15px;
	background:#95a5a6;
	border-bottom:1px solid #404849;
	margin-left:12px;
	float:left;
	font:normal 11px 'din',Arial,Helvetica,sans-serif;
	color:#fff;
	display:inline;
}
.download_broc_common:hover {
	background:#778485;
	border-bottom:1px solid #404849;
}


.productsTypesMain {
	width:100%;
	float:left;
}
.productsTypesMain h2 {
	width:100%;
	height:40px;
	background:url(../images/horizon_center_border.gif) center left repeat-x;
	float:left;
}
.productsTypesTopics {
    background: none repeat scroll 0 0 #F4F4F4;
    color: #989393;
    float: left;
    font: 12px 'din',Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 15px 20px 15px 0px;
    width: 42px;
}

.productsTypesSet {
	width:180px;
	margin:0px 16px 15px 0px;
	display:inline;
	float:left;
	background:#c1c8d0;
	border-bottom:1px solid #99a4b0;
	position:relative;
}
.productsTypesSet a {float:left;}
.productsTypesSet h2{
	padding:12px 15px 8px 15px;
	width:150px;
	float:left;
	background:none;
	height:auto;
}
.productsTypesSet h2 a {
	font:normal 14px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#31373E;
}
.productsTypesSet h2 a:hover {color:#000;}


.productsTypesSet a .productsTypesPopMain
{
	display: none;
}

.productsTypesSet a:hover .productsTypesPopMain {
	background:#878181;
	opacity:0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter:alpha(opacity=95);
	width:377px;
	height:164px;
	padding:10px;
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: 1;
}
.prodctTypesPopDesc{
	float:left;
	width:186px;
	height:160px;
	padding-left:10px;
}
.prodctTypesPopDesc h3 {
	font:normal 15px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#000;
	width:100%;
	padding-bottom:5px;
}
.prodctTypesPopDesc p {
	font:normal 12px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#fff;
}

.productsTypesPopMain_corner {
	left:-206px !important;
}

.insideTopImage {
	width:770px;
	float:left;
	padding-bottom:15px;
}


.contactInfoDiv {
	width:380px;
	float:left;
	font:normal 14px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#596a79;
	line-height:24px;
}

.contactInfoDiv li {
	float:left;
	padding-top:10px;
	width:100%;
}
.contactInfoDiv li img {padding-right:15px;}
.contactInfoDiv li a {color:#333; text-decoration:underline;}
.contactInfoDiv li a:hover {color:#F00;}

.contactForm {
	width:360px;
	padding-left:20px;
	border-left:1px solid #e2e0e0;
	float:left;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#596a79;
}
.contactForm ul li {
	float:left;
	width:360px;
	float:left;
	padding:0px 0px 18px 0px;
}
.contactForm ul li label {
	width:78px;
	float:left;
}
.contactTextArea {
	width:265px;
	height:31px;
	float:left;
	padding:0px 4px;
	color:#596a79;
	font:normal 14px 'helveticaneue', Arial, Helvetica, sans-serif;
	background:#e1e8ea;
	border:1px solid #dedede;
}

.submitBtn {
	width:105px;
	height:33px;
	background:#b3b3b3;
	border:none;
	border-bottom:1px solid #666;
	float:left;
	font:normal 11px 'din',Arial,Helvetica,sans-serif;
	color:#fff;
	cursor:pointer;
}
.submitBtn:hover {
	background:#a5a5a5;
	border-bottom:1px solid #666;
}

.keyAdvantagesTbl td {
	background:#edeaea;
	padding:8px 20px;
	font:normal 13px 'helveticaneue', Arial, Helvetica, sans-serif;
	color:#596A79;
	
}
.mailLink {color:#333; text-decoration:underline;}
.mailLink:hover {color:#F00;}


/* --- - -- - - --- -- - --INNER PAGES ENDS - - -- - - -- - -- - - - -- - */