/* slides styling */

.photo {width:1000px; text-align:left; position:relative; height:500px;}

.photo ul.topic {padding:0; margin:0; list-style:none; width:1000px; height:500px; position:relative; z-index:1000;}

.photo ul.topic li {
	display:block; 

	float:left;
}
.photo ul.topic li a.set {
	display:block; 
	font-size:11px; 
	width:220px; 
	height:190px; 
	padding:15px; 
	color:#fff; 
	text-decoration:none;  
	font-family:verdana, arial, sans-serif;
}
.photoOne {background:#cdb346 !important;}
.photoOne h2 {
	background:url(../images/photoOne_bg.png) top left no-repeat;
	padding-top:25px;
}
.photoOne span{
	width:100%;
	float:left;
	border-bottom:1px solid #e5ce6f;
	padding:8px 0px;
	font:normal 12px 'helveticaneue', Arial, Helvetica, sans-serif;
}

.photoTwo {
	background:#a8ab6e !important;
}
.photoTwo h2 {
	background:url(../images/photoTwo_bg.png) top left no-repeat;
	padding-top:25px;
}
.photoTwo span{
	width:100%;
	float:left;
	border-bottom:1px solid #cccf9a;
	padding:8px 0px;
	font:normal 12px 'helveticaneue', Arial, Helvetica, sans-serif;
}

.photoThree {
	background:#d17a4f !important;
}
.photoThree h2 {
	background:url(../images/photoThree_bg.png) top left no-repeat;
	padding-top:25px;
}
.photoThree span{
	width:100%;
	float:left;
	border-bottom:1px solid #e59569;
	padding:8px 0px;
	font:normal 12px 'helveticaneue', Arial, Helvetica, sans-serif;
}

.photoFour {
	background:#5a9393 !important;
}
.photoFour h2 {
	background:url(../images/photoFour_bg.png) top left no-repeat;
	padding-top:25px;
}
.photoFour span{
	width:100%;
	float:left;
	border-bottom:1px solid #92b5b5;
	padding:8px 0px;
	font:normal 12px 'helveticaneue', Arial, Helvetica, sans-serif;
}

.photo ul.topic li a ul, 
.photo ul.topic li ul 
{display:none;}

.photo ul.topic li.active a
{color:#fff; background:#bbb;}

.photo ul.topic li a:hover,
.photo ul.topic li:hover a
{color:#fff; background:#ffoooo;}

.photo ul.topic li.active ul
{display:block; position:absolute; left:0; top:0px; list-style:none; padding:0; margin:0; width:1000px; height:500px; background:#ddd; z-index:1;}

.photo ul.topic li a:hover ul, 
.photo ul.topic li:hover ul
{display:block; position:absolute; left:0; top:0px; list-style:none; padding:0; margin:0; width:1000px; height:500px; background:#ddd; z-index:100;}

.photo ul.topic li ul li
{display:inline; width:1000px; height:500px; float:left;}

