/*
	Mosaic - Sliding Boxes and Captions jQuery Plugin
	Version 1.0.1
	www.buildinternet.com/project/mosaic
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
*/

/*General Mosaic Styles*/
.mosaic-block {
	float:left;
	position:relative;
	overflow:hidden;
	width:250px;
	height:218px;
}

.mosaic-backdrop {
	display:none;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background:#111;
}
	
.mosaic-overlay {
	display:none;
	z-index:5;
	position:absolute;
	width:100%;
	height:100%;
	background:#111;
}
.mosaic-block h2 {
	font:normal 17px 'helveticaneue', Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#fff;
	padding-bottom:15px;
}

	
		/*** Custom Animation Styles (You can remove/add any styles below) ***/

		.fade .mosaic-overlay {
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			background:url(../img/bg-black.png);
		}
		
		.bar .mosaic-overlay {
			bottom:-100px;
			height:200px;
			background:url(../img/bg-black.png);
		}
		
		.bar2 .mosaic-overlay {
			bottom:-120px;
			height:200px;
			opacity:0.9;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
			filter:alpha(opacity=90);
		}
		
			.bar2 .mosaic-overlay:hover {
				opacity:0.9;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
				filter:alpha(opacity=90);
			}
		
		.bar3 .mosaic-overlay {
			top:-100px;
			height:100px;
			background:url(../img/bg-black.png);
		}
		/*** End Animation Styles ***/
