
.glossymenu{
padding: 0;
width: 180px; /*width of menu*/
}

.glossymenu a.menuitem{
font: normal 13px 'helveticaneue', Arial, Helvetica, sans-serif;
color: #413B3B;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 9px 0px;
text-decoration: none;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: #413B3B;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 12px;
right: 0px;
border: none;
}

.glossymenu a.menuitem:hover{
color: #E60000;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px solid #e2e0e0;
}

.glossymenu div.submenu ul li a{
display: block;
font: normal 12px 'helveticaneue', Arial, Helvetica, sans-serif;
color:#999;
text-decoration: none;
padding: 7px 0;
}

.glossymenu div.submenu ul li a:hover{
color: #E60000;
}
.productsLeftListSelect {color: #E60000 !important;}